.bottomNav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 1rem 0;
  background-color: #f0f0f0;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  justify-content: space-evenly;
  color: var(--gray);
}

@media (min-width: 1024px) {
  .bottomNav {
    display: none;
  }
}
