.container {
  display: flex;
  align-items: center;
  column-gap: 0.33rem;
}

.text {
  text-wrap: nowrap;
}

.dots {
  text-wrap: nowrap;
  overflow: hidden;
}

.desktop {
  display: none;
}

@media (min-width: 1024px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}
