.main {
  margin: 5rem 1.5rem 0;
  color: var(--gray);
}

.title {
  font-size: 2.3rem;
}

.subtitle {
  margin-top: 0.4rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.about {
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.9;
}
