.container {
  margin: 2rem 1.5rem 0;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 8rem;
}

.content {
  color: var(--gray);
  text-align: right;
}

.title {
  font-size: 2rem;
}

.skillsHeading {
  font-size: 1.2rem;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.3);
  text-underline-offset: 0.2rem;
}

.skillsList > section {
  margin-top: 2.5rem;
}

.skills {
  margin-top: 1rem;
}

.skills > li:not(li:first-child) {
  margin-top: 0.6rem;
}

@media (min-width: 768px) {
  .container {
    margin: 2rem 2.5rem;
    padding-bottom: 0;
  }
}
